<div *ngFor="let beer of beers" class="accordion" id="beer{{beer.id}}">
  <div class="card">
    <div class="card-header" [attr.id]="'heading' + beer.id">
      <h5 class="mb-0">
        <button class="btn btn-link" type="button" [attr.data-toggle]="'collapse'" [attr.data-target]="'#collapse' + beer.id">
          {{beer.id}} - {{beer.name}} - {{beer.price | currency:'EUR' }}
        </button>
      </h5>
    </div>

    <div [attr.id]="'collapse' + beer.id" class="collapse">
      <div class="card-body">
        <div class="row">
          <div class="col-5">
            <h4>{{beer.name}}</h4>
            <h5>{{beer.brand}}</h5>
          </div>
          <div class="col-7">
            <h6><b>TYPE: </b> <span>{{beer.type}}</span></h6>
            <h6><b>YEAR: </b> <span>{{beer.year}}</span></h6>
            <h6><b>PRICE: </b> <span>{{beer.price | currency:'EUR'}}</span></h6>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row float-right">
  <button class="btn btn-primary" (click)="collapseInput()">+</button>
</div>
<div id="beerDataInput" class="collapse" [class.show]="show">
  <div class="container-fluid">
      <div class="row">
        <div class="col-12">
          <div class="card">
            <form novalidate class="ng-untouched ng-prisrtine ng-invalid" [formGroup]="formBeer">
              <div class="row">
                <div class="col-4">
                  <span>Name: </span>
                  <input type="text" formControlName="name">
                </div>
                <div class="col-4">
                  <span>Brand: </span>
                  <input type="text" formControlName="brand">
                </div>
                <div class="col-4">
                  <span>Type: </span>
                  <input type="text" formControlName="type">
                </div>
              </div>
              <div class="row">
                <div class="col-4">
                  <span>Year: </span>
                  <input type="number" formControlName="year" maxlength="4" minlength="4">
                </div>
                <div class="col-4">
                    <span>Price: </span>
                    <input type="number" formControlName="price">
                </div>
                <div class="col-4">
                  <button class="btn btn-secondary float-right" [disabled]="!formBeer.valid" (click)="addBeer(formBeer)">ADD</button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
</div>